<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>أحـــمـــد أســـعـــد ¹²ﾉ|🤴🏻 أبـــو ࢪوان</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="grid-container">

        <header class="head-section a">

            <header class="h1">

                <div class="right-head rh">

                    <p>
                        <b>Ahmed Asaad</b>
                    </p>

                </div>

                <div class="middle-head mh">

                    <ul>
                        <li class="active">Home</li>
                        <li>About</li>
                        <li>Help</li>
                        <li>Servse</li>
                        <li>Contact</li>

                    </ul>

                </div>

                <!-- <div class="middle-head  b1">

                    heehe

                </div> -->

                <div class="left-head lh">

                    <form action="/" method="post">
                        <input type="text">
                    </form>

                </div>

                <div class="lis-it-small">
                    <img src="{{ url_for('static', filename= 'imgs/list-img.png') }}" alt="None">
                </div>

            </header>


            <!-- <nav class="nav-section h2">
                <div class="left-nav">
                    <p>
                        <b>Accounts</b>
                    </p>
                </div>
                <div class="right-nav">
                    <img src="photos/list-img.png" alt="None">
                </div>

            </nav> -->
        </header>

        <section class="main-section b">

            <section class="bb">
                <div id="textContainer">
                    <p id="text"></p>
                    <span id="my-span"></span>

                </div>
                <aside class="ba">
                    <ul class="list">
                        <li>name page</li>
                        <li class="active">home</li>
                        <li>login-sigin</li>
                        <li>about us</li>
                        <li>contact us</li>
                        <li>contact us</li>
                    </ul>
                </aside>
            </section>



        </section>

        <footer class="main-footer c">
            <div class="lift-foot">
                <b>About</b>
                <p class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque non sint repellat
                    exercitationem
                    nemo!
                </p>
                <div class="cont">
                    <div class="sq1"><img src="{{ url_for('static', filename= 'imgs/telegram.png') }}" alt=""></div>
                    <div class="sq2"><img src="{{ url_for('static', filename= 'imgs/instagram.png') }}" alt=""></div>
                    <div class="sq3"><img src="{{ url_for('static', filename= 'imgs/youtube.png') }}" alt=""></div>
                </div>

            </div>
            <div class="mid-foot">
                <b>Quick links</b>
                <ul>
                    <li class="active">
                        home
                    </li>
                    <li>
                        log-sgn
                    </li>
                    <li>
                        FAQ
                    </li>

                </ul>
            </div>
            <div class="right-foot">
                <b>Contact</b>
                <ul>
                    <li><img src="{{ url_for('static', filename= 'imgs/loc.png') }}" alt=""><span>location</span></li>
                    <li><img src="{{ url_for('static', filename= 'imgs/mail.png') }}" alt=""><span>Mail</span></li>
                    <li><img src="{{ url_for('static', filename= 'imgs/call.png') }}" alt=""><span>Phone</span></li>
                </ul>
            </div>
            <div class="line-foot">
                <p>&copy; 2023 Ahmed Asaad. All rights reserved.</p>
            </div>

        </footer>
    </div>







    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</body>

</html>